* {
    box-sizing: border-box;
}

body {
    color: black;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px ;
}

h1 {
    margin: 0;
    padding: 15px;
    display: inline;
    font-size: 50px;
}

#welcome-section {
    border: 2px solid black;
    height: 100vh;
}

.header {
    border: 2px solid black;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.div1 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

a {
    border: 2px solid black;
    margin: 10px;
}

img {
    height: 50vh;
    border-radius: 50%;
    margin: 50px;
}

.intro {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    width: 30%;
}

.left1 {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
}

.right1 {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

#education {
    border: 2px solid black;
    margin: 30px;
    border-radius: 20px;
    display: flex;
}

.educational-background {
    border: 2px solid black;
    margin: 10px;
    width: 600px;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}

.p {
    margin: 10px;
    font-size: 20px;
    display: inline;
}

.footer p {
    border: 2px solid black;
    margin: 10px;
}

h2 {
    border: 2px solid black;
    margin: 10px;
    display: inline;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
}

#skills {
    border: 2px solid black;
    margin: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

article {
    border: 2px solid black;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
}

.left2 {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle2 {
    margin: 10px;
    display: flex;
    align-items: center;
}

.right2 {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    width: 250px;
    height: 20px;
    background-color: black;
    margin: 10px;
    /* background: linear-gradient(90deg, black 50%, white 50%); */
    border-radius: 5px;
    border: 1px solid black;
}

.c {
    background: linear-gradient(90deg, black 60%, white 40%);
    color: white;
}

.java {
    background: linear-gradient(90deg, black 40%, white 40%);
    color: white;
}

.html {
    background: linear-gradient(90deg, black 80%, white 20%);
    color: white;
}

.css {
    background: linear-gradient(90deg, black 70%, white 30%);
    color: white;
}

.javascript {
    background: linear-gradient(90deg, black 40%, white 40%);
    color: white;
}

.dsa {
    background: linear-gradient(90deg, black 40%, white 40%);
    color: white;
}

.frontend-dev {
    background: linear-gradient(90deg, black 50%, white 50%);
    color: white;
}

.cn {
    background: linear-gradient(90deg, black 70%, white 30%);
    color: white;
}

.os {
    background: linear-gradient(90deg, black 70%, white 30%);
    color: white;
}

.sql {
    background: linear-gradient(90deg, black 70%, white 30%);
    color: white;
}

#projects {
    border: 2px solid black;
    margin: 30px;
    border-radius: 20px;
    display: flex;

}

.project-tile {
    height: 100px;
    width: 90px;
    border: 3px solid black;
}

footer {
    border: 2px solid black;
    margin: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    justify-content: space-evenly;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
}

#connect-me {
display: flex;
}

.social-media {
    border: 2px solid black;
    margin: 10px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.btn{
    border: none;
    text-decoration: none;
}

.p-footer{
    font-size: 20px;
}