body {
    margin: 0;
}

#welcome-section {
    height: 100vh;
}

#educational-background {
    height: 100vh;
}

h1 {
    margin: 0;
}

.section-1 {
    background-color: brown;
    display: inline-block;
    margin: 0;
    width: 49.5vw;
    border-radius: 25px;
}

.section-2 {
    background-color: red;
    display: inline-block;
    margin: 0;
    position: absolute;
    width: 49.5vw;
    border-radius: 25px;
}

div.container {
    margin-left: 10px;
    height: 20px;
    width: 200px;
    background-color: black;
    margin-top: 0;
    border-radius: 25px;
}

p.p{
    margin-left: 10px;
    margin-bottom: 5px;
}

.educational-background{
    padding-left: 20px;
}

.fa{
    margin: 20px;
}
footer{
    text-align: center;
    height: 100vh;
}